.container{max-width:var(--fz-container);margin-inline:auto;padding-inline:var(--fz-space-4)}
.row{display:flex;flex-wrap:wrap;margin-left:-.75rem;margin-right:-.75rem}
.col{flex:1 0 0;padding-left:.75rem;padding-right:.75rem}
.col-auto{flex:0 0 auto;padding-left:.75rem;padding-right:.75rem}
[class^='col-']{padding-left:.75rem;padding-right:.75rem}
:root{--fz-col:8.333333%}
@for  from 1 through 12{ .col-#{}{flex:0 0 calc(var(--fz-col)*#{});max-width:calc(var(--fz-col)*#{})}}
